  <app-add-location (actualizarLocaciones)="actualizarLocs($event)"></app-add-location>
  <div *ngIf="locations?.length > 0;else noLocations">
    <ul *ngFor="let location of locations" class="collection" >
        <li class="collection-item" >
          <strong>{{location.channel.item.title}}</strong> 
          <a (click)="deleteLocation(location.id)" class="secondary-content">
            <i  class="fa fa-trash"></i>
          </a>
        </li>
        <a [routerLink]="['/location-detail', location.id]">
          <li class="collection-item" >
            <h5> Actual temperature : {{location.channel.item.condition.temp}} °C - {{location.channel.item.condition.text}}    <img style="margin-left: 25px" src="http://l.yimg.com/a/i/us/we/52/{{location.channel.item.condition.code}}.gif"> </h5>
          </li>
      </a>
    </ul>
  </div>

  
  <ng-template #noLocations>
    <div class="card-panel grey lighten-1">
      <span class="white-text">Por favor, agregue locaciones de su interes!</span>
    </div>
  </ng-template>


