<div class="panel panel-default">
  <div class="panel-heading">
   <h5> Forecast</h5>
   <h6> {{title}}</h6>
  </div>
  
  <table >
    <thead>
      <tr>
          <th>DAY</th>
          <th>DATE</th>
          <th>LOW F</th>
          <th>HIGH F</th>
          <th>STATUS</th>
      </tr>
    </thead>

    <tbody *ngFor="let forecast of forecasts" >
      <tr>
        <td>{{forecast.day}}</td>
        <td>{{forecast.date | date:'dd-MM-yyyy'}}</td>
        <td>{{forecast.low}} ºC</td>
        <td>{{forecast.high}} ºC</td>
        <td>{{forecast.text}}</td>
        <td> <img src="http://l.yimg.com/a/i/us/we/52/{{forecast.code}}.gif"> </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="center">
      <a href="/" class="btn  grey lighten-1">Volver</a>
    <button (click)="deleteLocation(location.id)" class="btn red" >Delete Location</button>
  </div>
</div>

